
/* 
p{
    font-size: 3rem;
} 
*/


/* #paragraf_id{
    font-size: 3rem;
} */

.paragraf_class{
    font-size: 3rem;
}

*{
    margin:0;
    padding:0px;
    box-sizing: border-box; /*padding:10+border:10+width:100*/
}

#div_id{
    background-color: black;
    color:white;
    color:#fff;
    color:#ffffff;
    color:rgb(255,255,255);
    color:rgba(255,255,255,0.9);
    /* margin-top:3rem;
    margin-right:3rem;
    margin-left:3rem;
    margin-bottom:3rem; 
    margin:3rem;
    margin:3rem 5rem;*/
    margin: 3rem 2rem 3rem 1rem;
    padding:4rem 3rem !important;
    border: 10px solid red;
    max-width: 600px;
    height: 500px;
}

#div_id:hover{
   transition: 1s all;
    transform:rotate(230deg) ; 
    cursor: pointer;
}


#div_id>p{
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: justify;
    text-shadow: 1px 2px rgb(199, 235, 102);
    text-indent: 15px;
    display: inline-block;
    column-count: 2;
    column-rule: 1px solid red;
}
/*
width or height: inline-block
inline:
*/

a{
    text-decoration: none;
    background-color: blue;
    color:white;
    padding:1rem 1rem;
    border-radius: 10%;
    cursor: none;
}

a:hover{
    background-color: white;
    color:blue;
    box-shadow: 1px 1px 30px 5px rgba(0,0,0,.8);
    text-transform: uppercase;
    transition: 1s all;
    transform:rotate(230deg) ;
}

/* img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: le;
} */

img{
    max-width: 100%;
    height: auto;
    object-fit: none;
    object-position: center;
}